h1{
    color:white;
}

.ResumeFont{
    font-weight: 300;
    margin-bottom: 0.625rem;
    font-size: larger;
}

.ResumeHeader{
    font-size: 40px;
}

.backtotop{
    text-align: center;
    color: #212529;
    opacity: 0.5;
}